name: test

on:
  push:
    branches-ignore:
      - "!master"
jobs:
  e2e-tests:
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - uses: microsoft/playwright-github-action@v1

      - name: Install dependencies and run tests
        run: npm install && npx playwright install


      - name: Run tests API
        run: npx playwright test api_test/api_tests.spec.js --project=Booking_API --reporter=line,allure-playwright
      - name: Notify slack success
        if: success()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        # uses: voxmedia/github-action-slack-notify-build@v1
        uses : act10ns/slack@v1
        with:
          channel: aqa-notification
          status: SUCCESS
          color: good
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        # uses: voxmedia/github-action-slack-notify-build@v1
        uses : act10ns/slack@v1
        with:
          channel: aqa-notification
          status: FAILED
          color: danger
          
      - name: Run tests UI
        run: npx playwright test ui_tests/ui_tests.spec.js --project=Booking_UI --reporter=line,allure-playwright
      - name: Notify slack success
        if: success()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        # uses: voxmedia/github-action-slack-notify-build@v1
        uses : act10ns/slack@v1
        with:
          channel: aqa-notification
          status: SUCCESS
          color: good
      - name: Notify slack fail
        if: failure()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        # uses: voxmedia/github-action-slack-notify-build@v1
        uses : act10ns/slack@v1
        with:
          channel: aqa-notification
          status: FAILED
          color: danger

      - name: Show report
        if: always()
        run: allure serve allure-results
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        #id: allure-report
        with:
          allure_results: allure-results
          #gh_pages: gh-pages
          #allure_report: allure-report
          allure_history: allure-history

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history  
          
      
