on:
  push:
    branches:
    - "!master"

jobs:
  e2e-tests:
    runs-on: ubuntu-latest # or macos-latest, windows-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - uses: microsoft/playwright-github-action@v1

      - name: Install dependencies
        run: npm install
        
      - name: Run tests
        run: npm test
